body{
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background: #fff;
}

/*button{
  text-decoration: none;
  letter-spacing: inherit;
  transition: all 0.23s ease-in-out 0s;
}button:hover{
  font-weight: bold;
}
*/
.snowflake {
    position: absolute;
    width: 10px;
    height: 10px;
    background: linear-gradient(white, white); /* Workaround for Chromium's selective color inversion */
    border-radius: 50%;
    filter: drop-shadow(0 0 10px white);
}


.wrap{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #897AC5;
  background: linear-gradient(141deg, #5dd1d9 0%, #2f87ad 51%, #07587a 75%);
}

.box{
  position: relative;
  width: 370px;
  margin: 0 auto;

  background: #212F3D;
  top: 50%;
  transform: translate(0%, -50%);
  box-shadow: 0px 5px 25px rgba(72, 72, 72, 0.5);
}

.pinHeader{
  text-align: center;
  color: #5D6D7E;
  padding: 5px;
  background: #293A4B;
}

.bullets-color{
  position: absolute;
  width: 10px;
  height:10px;

  float: left;
  margin-left: 10px;
  margin-top: 20px;
  border-radius: 15px;
} 

.c-red{
  background: #E74C3C;
  margin-left: 10px;
}
.c-yellow{
  background: #F4D03F;
  margin-left: 30px;
}
.c-green{
  background: #58D68D;
  margin-left: 50px;
}

.pinBody{
  text-align: center;
  color: #5D6D7E; 
  padding: 35px 95px;
  height: 225px;
  opacity: 1;
  
  transition: all 0.23s ease-in-out 0s;
}

.height0{
  height: 0px;
}

.width0{
  width: 80px;
}

.hide{
  opacity: 0;
}

input[type="password"]{
  width: 100%;
  height: 40px;
  border: 2px solid #5D6D7E;
  box-sizing: border-box;
  border-radius: 3px;
  background: transparent;
  color: #5D6D7E;
  text-align: center;
  font-weight: 600;
  font-size: 17px;
  box-shadow: 0px 5px 25px rgba(72, 72, 72, 0.0);
  transition: all 0.23s ease-in-out 0s;
}input[type="password"]:focus{
  outline: none;
  box-shadow: 0px 5px 25px rgba(52, 73, 94  , 0.5);
}

.txt-description{
  text-align: center;
  font-size: 14px;
}

button {
  font-size: 14px;
  font-weight: 700;
  outline: none;
  color: #212F3D;
  padding: 5px;
  background: #5D6D7E;
  box-shadow: none;
  border: 2px solid #5D6D7E;
  border-radius: 3px;
  margin-top: 5px;
}

button:hover {
  background: #293A4B;
  box-shadow: 0px 5px 25px rgba(72, 72, 72, 0.0);
  border: 2px solid #293A4B;
  color: #5D6D7E;
  cursor: pointer;
}

a {
  font-size: 14px;
  font-weight: 700;
  outline: none;
  color: #212F3D;
  padding: 5px;
  background: #5D6D7E;
  box-shadow: none;
  border: 2px solid #5D6D7E;
  border-radius: 3px;
  margin-top: 5px;
}

a:hover {
  background: #293A4B;
  box-shadow: 0px 5px 25px rgba(72, 72, 72, 0.0);
  border: 2px solid #293A4B;
  color: #5D6D7E;
  cursor: pointer;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

@keyframes shake {
  10%, 90% {
    transform: translate(-1px, -50%);
  }
  20%, 80% {
    transform: translate(2px, -50%);
  }
  30%, 50%, 70% {
    transform: translate(-4px, -50%);
  }
  40%, 60% {
    transform: translate(4px, -50%);
  }
}

@keyframes disappear {
  0%{
    opacity: 1;
    transform:  scaleY(1);
  }
  90%{
    opacity: 0;
    transform:  scaleY(1);
  }

  100%{
    transform:  scaleY(0);
    opacity: 0;
    max-height: 0;
  }
}

@keyframes appear {
  0%{
    opacity: 0;
    /*transform:  scaleY(0.8);*/
  }
  100%{
    /*transform:  scaleY(1);*/
    opacity: 1;
  }
}

.toDisappear {
  animation: disappear 2s forwards;
}

.toAppear {
  opacity: 0;
  font-size: 20px;
  font-family: "Oleo Script Swash Caps";
  animation: appear 4s forwards 1s;
}

.toShake {
  animation: shake 0.8s cubic-bezier(.36,.07,.19,.97) both;
}
/**/